extends ../layout

block content
  h1 Voici la liste des TODOS :

  form(action='/todos/completed' method='post')
    table(border=1) 
      p TO DO
      tr
        th Check
        th UserId
        th Topic

      each todo in listNotCompleted
        tr
          td
            input(type='checkbox' name="completed" value=todo.todoId)
          td= todo.userId
          td= todo.topic

    input(type='submit', value='Marquer comme fini')        

    table(border=1) 
      p Completed :
      tr
        th Check
        th UserId
        th Topic
        th completedAt    
      each todo in listCompleted
        tr
          td
            input(type='checkbox' name="completed" value=todo.todoId)
          td= todo.userId
          td= todo.topic
          td= todo.completedAt

    input(type='submit', value='Marquer comme non fini')

  ul.pagination
    - var nbPage = Math.ceil(count / limit)
    - for (var i = 0; i < nbPage; i++) {
      li
        a(href='/todos?limit=' + limit + '&offset=' + (i*limit)) Page #{i + 1}
    - }
