extends ../layout

block content
  h1= title

  p Voici la liste des utilisateurs :

  form(action='/todos/complete' method='post')
    table(border=1)
      tr
        th Check
        th Id
        th UserId
        th Topic
        th completedAt

      each todo in list
        tr
          td
            input(type='checkbox' name="completed" value=todo.todoId)
          td= todo.todoId
          td= todo.userId
          td= todo.topic
          td= todo.completedAt

    input(type='submit', value='Supprimer séléctionné(s)')

  ul.pagination
    - var nbPage = Math.ceil(count / limit)
    - for (var i = 0; i < nbPage; i++) {
      li
        a(href='/todos?limit=' + limit + '&offset=' + (i*limit)) Page #{i + 1}
    - }

  form(action='/todos/add' method='post')
    table(border=1)
      tr
        th Topic
        td
          input(name='topic')

    input(type='submit', value='Envoyer')

